.card {
    margin: 10px 20px 10px 20px;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
}
.zdex {
    position: relative;
    z-index: 2;
}
.cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#parakuro {
    background-image: url("/static/resource/parakuro.gif");
    background-repeat: no-repeat;
    filter: blur(3px);
    display: block;
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 20px;
    z-index: 1;
    height: 110px;
    width: auto;
    border-radius: 10px;
    margin: -130.55px 20px 10px 20px;
}
