<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link
            href="{{ url_for('static',filename='css/card.css') }}"
            rel="stylesheet"
            type="text/css"
    />
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
</head>
<body>
<div class="card">
    <h2 class="zdex">김호연 조</h2>
    <h3 class="zdex">parakuro</h3>
    <div id="parakuro"></div>
</div>
<div class="card">
    <h2>박민수</h2>
    <h3>죽창</h3>
    <h3>죽창</h3>
</div>
<div class="card">
    <h2>박민수</h2>
    <h3>죽창</h3>
    <h3>죽창</h3>
</div>
<div class="card">
    <h2>박민수</h2>
    <h3>죽창</h3>
    <h3>죽창</h3>
</div>

</body>