<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link
            href="{{ url_for('static',filename='css/card.css') }}"
            rel="stylesheet"
            type="text/css"
    />
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/systemjs/dist/system.js"></script>
    <script src="../static/js/card.js" type="text/javascript"></script>
<!--window.parent.postMessage({'func': 'showPopup', 'message':'pkr'},'*')-->
<div class="card" id="pkr">
    <h2 class="zdex">김호연 조</h2>
    <h3 class="zdex">parakuro</h3>
    <div class="bkgr" id="parakuro"></div>
</div>
<div class="card" id="lgn">
    <h2 class="zdex">전태영 조</h2>
    <h3 class="zdex">LEGEND</h3>
    <div class="bkgr" id="legend"></div>
</div>
<!-- 
<div class="card" id="mhm">
    <h2>백진우 조</h2>
    <h3>맨홀맨</h3>
</div>
-->

<div class="card" id="eng">
    <h2 class="zdex">김재형 조</h2>
    <h3 class="zdex">ENGLISH</h3>
    <div class="bkgr" id="english"></div>
</div>

</body>