<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LEGEND</title>
    <link
            href="{{ url_for('static',filename='css/legend.css') }}"
            rel="stylesheet"
            type="text/css"
    />
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
</head>
<body>
<div class="background">
    <h1 class="zdex" id="txt">LEGEND</h1>
    <h2 class="zdex" id="txt2">Description Text</h2>
</div>
<div class="game_img"></div>
<div class="backColor"></div>
</body>
</html>