<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      href="{{ url_for('static',filename='css/main.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <title>CodiWeb</title>
  </head>
  <body>
  <script src="https://cdn.jsdelivr.net/npm/systemjs/dist/system.js"></script>
  <script type="text/javascript" src="../static/js/scroller.js"></script>
    <div>
      <h1 class="codiText">ICODI</h1>
      <div class="color">
        <h1>ICODI에 오신 것을 환영합니다!</h1>
        <h2>ICODI가 무엇인가요?</h2>
        <p>
          이 웹사이트는 개발중입니다! <br />
          나중에 다시 들러주세요.
        </p>
        <div class="line"></div>
        <h2>프로젝트 둘러보기</h2>
        <div class="projects"></div>
        <div class="line"></div>
        <h2>연락하기</h2>
      </div>
      <div class="background"></div>
    </div>
  </body>
</html>
