<!DOCTYPE html>
<script src="https://cdn.jsdelivr.net/npm/systemjs/dist/system.js"></script>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link
            href="{{ url_for('static',filename='css/main.css') }}"
            rel="stylesheet"
            type="text/css"
    />
    <title>CodiWeb</title>
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
{% import "popup.html" as card %}
<div>
    <h1 class="codiText">ICODI</h1>
    <div class="color">
        <h1><br/>ICODI에 오신 것을 환영합니다!</h1>
        <div class="line"></div>
        <h2>ICODI는 어떤 동아리인가요?</h2>
        <p>
            ICODI는 이의고등학교 코딩 동아리로, <br/>
            파이썬을 배우고 배운 지식을 활용하여 팀을 이뤄 프로젝트를 진행하는 동아리입니다. <br/>
            프로그래밍을 좋아하는 친구들 뿐만 아니라 컴퓨터에 관심이 있는 사람들 모두가 함께 하고 있습니다.
        </p>
        <h2>무슨 프로젝트를 진행했나요?</h2>
        <p>
            이번에 진행한 프로젝트는 "파이썬으로 만드는 나만의 게임"이라는 주제로 <br/>
            파이썬을 사용하여 팀원들과 게임을 만드는 프로젝트를 진행하였습니다.
        </p>
        <h2>이 사이트에서는 무엇을 할 수 있나요?</h2>
        <p>
            이 사이트에서는 동아리원들이 진행한 프로젝트와 수업 시간에 작성한 코드들을 둘러볼 수 있습니다.<br/>
            아래에 있는 링크를 통해 ICODI 깃허브를 방문하거나 동아리에서 만든 게임들을 플레이해보세요!
        </p>
        <div class="line"></div>
        <h2>프로젝트 둘러보기</h2>
        <iframe class="card"
                onload="this.style.height=(this.contentWindow.document.body.scrollHeight+20)+'px';" sandbox="allow-same-origin allow-scripts"
                src="card" title="projects" id="ifr"></iframe>
        <h2>외부 링크</h2>
        <button class="myButton" id="myButton" type="button">
            <i class="fa fa-github"></i> Github
        </button>
        <div class="projects"></div>
        <div class="line"></div>
        <h2>연락하기</h2>
        {% for name, imgPath, id, desc in datas %}
            {{ card.popup(name, imgPath, id, desc) }}
        {% endfor %}
        <h1>동★아★리★원★모★집★중</h1>
        <div class="signup">
            {% include 'signup.html' %}
        </div>
    <div id="overlay"></div>
    </div>
    <div class="background"></div>
</div>
<script src="../static/js/scroller.js" type="text/javascript"></script>
</body>
</html>
