<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      href="{{ url_for('static',filename='css/main.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <title>CodiWeb</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
  <body>
  <script src="https://cdn.jsdelivr.net/npm/systemjs/dist/system.js"></script>
  <script type="text/javascript" src="../static/js/scroller.js"></script>
    <div>
      <h1 class="codiText">ICODI</h1>
      <div class="color">
        <h1>ICODI에 오신 것을 환영합니다!</h1>
        <h2>ICODI는 어떤 동아리인가요?</h2>
        <p>
          ICODI는 이의고등학교 코딩 동아리의 약자로, <br />
          파이썬 등을 배우고 팀을 이뤄 배운 것을 토대로 프로젝트를 진행하는 동아리입니다. <br />
          프로그래밍을 좋아하는 친구들 뿐만 아니라 컴퓨터에 관심이 있는 사람들 모두가 함께 하고 있습니다.
        </p>
        <h2>무슨 프로젝트를 진행했나요?</h2>
        <p>
          이번에 진행한 프로젝트는 <파이썬으로 만드는 나만의 게임>이라는 주제로 <br/>
          파이썬을 사용하여 팀원들과 게임을 만드는 프로젝트를 진행하였습니다.
        </p>
        <h2>여긴 뭐 하는 사이트인가요?</h2>
        <p>
          이곳은 동아리원들이 진행한 프로젝트와 수업 시간에 작성한 코드들을 볼 수 있는 사이트입니다.<br/>
          아래에 있는 링크를 통해 ICODI 깃허브를 방문하거나 만든 게임들을 플레이해볼 수 있습니다.
        </p>
        <div class="line"></div>
        <h2>프로젝트 둘러보기</h2>
        <h2>외부 링크</h2>
        <button type="button" class="myButton">
          <i class="fa fa-github"></i> Github
        </button>
        <div class="projects"></div>
        <div class="line"></div>
        <h2>연락하기</h2>
      </div>
      <div class="background"></div>
    </div>
  </body>
</html>
