<!-- BEGIN: Signup Form Popup Code from Benchmark Email Ver 4.0  -->

<style type="text/css">
    .formbox-editor_VLZ2Z fieldset {border: none;margin: 0;padding: 0 40px;position: relative;}
    .formbox-editor_VLZ2Z fieldset > input,.formbox-editor_VLZ2Z fieldset > textarea,.formbox-editable-field_VLZ2Z {margin: 10px 0;outline: none;}
    .spacer-block_VLZ2Z {min-height: 20px;padding: 10px 0;position: relative;}
    .spacer-block-line_VLZ2Z {position: absolute;top: 50%;left: 40px;right: 40px;display: none;border-top-style: solid;}
    .formbox-editor_VLZ2Z {margin: 0 auto;padding: 0;text-align: left;width: 100%;box-sizing: border-box;}
    #formbox_screen_subscribe_VLZ2Z, #formbox_screen_success_VLZ2Z {padding: 30px 0;} 
    .formbox-title_VLZ2Z, .formbox-text-field_VLZ2Z {margin-bottom: 0; font-family: Helvetica, Arial, sans-serif; color: #000000; font-size: 14px; }
    .formbox-title_VLZ2Z a, .formbox-text-field_VLZ2Z a  {text-decoration: none;} 
    .formbox-title_VLZ2Z p, .formbox-text-field_VLZ2Z p {margin: 0;margin-bottom: 10px;padding: 0; word-break: break-word;}
   
    label.formbox-field-label_VLZ2Z {font-family: Helvetica, Arial, sans-serif; display: block; margin: 10px 0 0; padding: 0; font-size: 14px; text-align: left;line-height: 100%; color: #000000;}
    label.formbox-label-wrap_VLZ2Z {font-family: Helvetica, Arial, sans-serif; display: block; margin: 10px 0 0; padding: 0; font-size: 14px; line-height: 100%; padding-left: 15px; text-indent: -15px; font-style: italic;color: #000000;} label.formbox-label-wrap_VLZ2Z:last-of-type {margin-bottom: 10px;}
    label.formbox-label-wrap_VLZ2Z input[type=checkbox], label.formbox-label-wrap_VLZ2Z input[type=radio] { width: 13px; height: 13px; padding: 0; margin:0; margin-right: 5px; vertical-align: bottom; position: relative; top: -1px; }
    select.formbox-field_VLZ2Z {background-color: #000000; border: 2px solid #f1f2f2; border-radius: 0px; box-sizing: border-box; background-color: #ffffff; font-family: Helvetica, Arial, sans-serif; font-size: 14px; width: 100%; margin: 10px 0; height: auto; padding: 2px 0px;}
   
    input.formbox-field_VLZ2Z {color: #000000; background-color: #ffffff; border: 2px solid #f1f2f2; border-radius:0px; font-family: Helvetica, Arial, sans-serif; font-size: 14px; box-sizing: border-box; padding:15px; width: 100%;} input.formbox-field_VLZ2Z.text-placeholder {color: #c4c4c4; font-weight: normal; font-style: normal; font-family: Helvetica, Arial, sans-serif; font-size: 14px;}
    .formbox-field_VLZ2Z::-webkit-input-placeholder {color: #c4c4c4; font-weight: normal; font-style: normal;opacity: 1;}
    .formbox-field_VLZ2Z::-moz-placeholder { color: #c4c4c4; font-weight: normal; font-style: normal;opacity: 1;}
    .formbox-field_VLZ2Z:-ms-input-placeholder {color: #c4c4c4; font-weight: normal; font-style: normal; opacity: 1;}
    .formbox-button_VLZ2Z {line-height: 100%;  cursor: pointer; margin: 10px 0; }
    .formbox-button_VLZ2Z:hover { background-color:#353d41 !important; }
    .formbox-button_VLZ2Z:active { background-color:#0d1519 !important; }
   #popupFormLoader_VLZ2Z { display: none; position: absolute; bottom: 10px; right: 10px; width: 20px; height: 20px; background-image: url(https://benchmarkemail.com/images/popup-builder/loadingicon.svg); background-position: center center; background-repeat: no-repeat; background-color: rgb(255, 255, 255); background-color: rgba(255, 255, 255, 0.3);  border-radius: 100%; -webkit-animation-name: spin; -webkit-animation-duration: 800ms; -webkit-animation-iteration-count: infinite; -webkit-animation-timing-function: linear; -moz-animation-name: spin; -moz-animation-duration: 800ms; -moz-animation-iteration-count: infinite; -moz-animation-timing-function: linear;
   -ms-animation-name: spin;-ms-animation-duration: 800ms;-ms-animation-iteration-count: infinite;-ms-animation-timing-function: linear;animation-name: spin;animation-duration: 800ms;animation-iteration-count: infinite;animation-timing-function: linear;}
   
   </style>
   <div id="signupFormContainer_VLZ2Z">
   <div id="signupFormContent_VLZ2Z">
   <div class="formbox-editor_VLZ2Z" style="background: #ffffff; 
   border-radius:0px; box-sizing: border-box; top: 0px;"><div id="formbox_screen_subscribe_VLZ2Z" style="display:block;" name="frmLB_VLZ2Z">
   <input type=hidden name=token_VLZ2Z id=token_VLZ2Z value="mFcQnoBFKMRproUObfg8ShcwvUXpuXVDsyrvrVNqdhT8lCfoubKo%2Bg%3D%3D" />
   <input type=hidden name=successurl_VLZ2Z id=successurl_VLZ2Z value="https://lb.benchmarkemail.com//Code/ThankYouOptin?&language=" />
   <input type=hidden name=errorurl_VLZ2Z id=errorurl_VLZ2Z value="https://lb.benchmarkemail.com//Code/Error" />
   <fieldset><div class="formbox-title_VLZ2Z"><p style="line-height: 1; text-align: left;" data-mce-style="line-height: 1; text-align: left;"><span id="_mce_caret" data-mce-bogus="1" data-mce-type="format-caret"><span style="font-family: Helvetica,Arial,sans-serif; font-size: 20px;" data-mce-style="font-family: Helvetica,Arial,sans-serif; font-size: 20px;"><strong><span style="color: #000000;" data-mce-style="color: #000000;">개발자 소식 받기﻿</span></strong></span></span></p></div></fieldset>
   <fieldset class="formbox-field_VLZ2Z" style="text-align: center; padding: 0px 40px;"><img src="https://images.benchmarkemail.com/client1515857/image13201717.png"  style ="max-width: 100%;"></fieldset>
   <fieldset class="formbox-field_VLZ2Z"><input type=text placeholder="이름" class="formbox-field_VLZ2Z text-placeholder" onfocus="javascript:focusPlaceHolder(this);" onblur="javascript:blurPlaceHolder(this);" id="fldfirstname_VLZ2Z" name="fldfirstname_VLZ2Z" maxlength=100 /></fieldset>
   <fieldset class="formbox-field_VLZ2Z"><input type=text placeholder="이메일 주소 *" class="formbox-field_VLZ2Z text-placeholder" onfocus="javascript:focusPlaceHolder(this);" onblur="javascript:blurPlaceHolder(this);" id="fldemail_VLZ2Z" name="fldemail_VLZ2Z" maxlength=100 /></fieldset>
   <fieldset style="text-align:left;"><div id="btnSubmit_VLZ2Z" onClick="javascript:return submit_VLZ2ZClick();" style="word-break: break-all; box-sizing: border-box; text-align:center; display: inline-block;padding-left: 15px; padding-right: 15px;padding-top: 15px; padding-bottom: 15px;background-color:rgb(33, 41, 45); border: rgba(0, 0, 0, 0) solid 0px; border-radius: 2px;font-family :Helvetica, Arial, sans-serif; font-size: 14px;color: rgb(255, 255, 255); line-height: 1; letter-spacing:1pxpx;" class="formbox-button_VLZ2Z">구독</div></fieldset></div>
   </div>
   <!-- BEGIN: Email Marketing By Benchmark Email  --><p class="email-marketing-by-b"style="color: #555555; font-family: Helvetica; font-size: 10px; line-height: 12px; text-align: center; margin-top: 24px;"> <a href="https://www.benchmarkemail.com/email-marketing?utm_source=signupform&utm_campaign=fullembedform" target="_blank" style="text-decoration: underline; color: #555555;">Email Marketing</a> <style="color: #555555; font-family: Helvetica; font-size: 10px; line-height: 12px; text-align: center; margin-top: 24px;"> by Benchmark</p><!-- END: Email Marketing By Benchmark Email  -->
   </div>
   </div>
   
   <script type="text/javascript">
   function CheckField_VLZ2Z(fldName, frm){var fldObj = document.getElementsByName(fldName);if ( fldObj.length > 1 ) {  for ( var i = 0, l = fldObj.length; i < l; i++ ) {   if ( fldObj[0].type == 'select-one' ) { if( fldObj[i].selected && i==0 && fldObj[i].value == '' ) { return false; }   if ( fldObj[i].selected ) { return true; } }  else { if ( fldObj[i].checked ) { return true; } }; } return false; }  else  { if ( fldObj[0].type == "checkbox" ) { return ( fldObj[0].checked ); }  else if ( fldObj[0].type == "radio" ) { return ( fldObj[0].checked ); }  else { fldObj[0].focus(); return (fldObj[0].value.length > 0); }} }
   function rmspaces(x) {var leftx = 0;var rightx = x.length -1;while ( x.charAt(leftx) == ' ') { leftx++; }while ( x.charAt(rightx) == ' ') { --rightx; }var q = x.substr(leftx,rightx-leftx + 1);if ( (leftx == x.length) && (rightx == -1) ) { q =''; } return(q); }
   
   function checkfield(data) {if (rmspaces(data) == ""){return false;}else {return true;}}
   
   function isemail(data) {var flag = false;if (  data.indexOf("@",0)  == -1 || data.indexOf("\\",0)  != -1 ||data.indexOf("/",0)  != -1 ||!checkfield(data) ||  data.indexOf(".",0)  == -1  ||  data.indexOf("@")  == 0 ||data.lastIndexOf(".") < data.lastIndexOf("@") ||data.lastIndexOf(".") == (data.length - 1)   ||data.lastIndexOf("@") !=   data.indexOf("@") ||data.indexOf(",",0)  != -1 ||data.indexOf(":",0)  != -1 ||data.indexOf(";",0)  != -1  ) {return flag;} else {var temp = rmspaces(data);if (temp.indexOf(' ',0) != -1) { flag = true; }var d3 = temp.lastIndexOf('.') + 4;var d4 = temp.substring(0,d3);var e2 = temp.length  -  temp.lastIndexOf('.')  - 1;var i1 = temp.indexOf('@');if (  (temp.charAt(i1+1) == '.') || ( e2 < 1 ) ) { flag = true; }return !flag;}}
   
   function focusPlaceHolder(obj) { 
   obj.className = "formbox-field_VLZ2Z"; }
   function blurPlaceHolder(obj) { 
   if ( obj.value == '' ) { obj.className = "formbox-field_VLZ2Z text-placeholder"; } } 
   function isValidDate(year, month, day) { 
   if (year.toString() == '' || month.toString() == '' || day.toString() == '') { return false;} try { year = parseInt(year); month = parseInt(month); day = parseInt(day); } catch (e) { return false;} var d = new Date(year, month - 1, day, 0, 0, 0, 0); return (!isNaN(d) && (d.getDate() == day && d.getMonth() + 1 == month && d.getFullYear() == year));}var submitButton_VLZ2Z = document.getElementById("btnSubmit_VLZ2Z");
   var subscribeScreen_VLZ2Z = document.getElementById("formbox_screen_subscribe_VLZ2Z");
   var signupFormContainer_VLZ2Z = document.getElementById("signupFormContainer_VLZ2Z");
   var signupFormLoader_VLZ2Z = document.getElementById("popupFormLoader_VLZ2Z");
   function submit_VLZ2ZClick(){
    var retVal = true; var contentdata = ""; var frm = document.getElementById("formbox_screen_subscribe_VLZ2Z");if ( !isemail(document.getElementsByName("fldemail_VLZ2Z")[0].value) ) { 
      alert("Please enter the Email Address");
   document.getElementById("fldemail_VLZ2Z").focus(); retVal = false;} if ( retVal == true ) {var frm = "_VLZ2Z"; var f = document.createElement("form"); f.setAttribute('accept-charset', "UTF-8");  f.setAttribute('method', "post"); f.setAttribute('action', "https://lb.benchmarkemail.com//code/lbform"); var elms = document.getElementsByName("frmLB" + frm)[0].getElementsByTagName("*");var ty = ""; for (var ei = 0; ei < elms.length; ei++) {ty = elms[ei].type; if (ty == "hidden" || ty == "text" || (ty == "checkbox" && elms[ei].checked) || (ty == "radio" && elms[ei].checked) || ty == "textarea" || ty == "select-one" || ty == "button") {elm = elms[ei]; if(elm.id != "") { var i = document.createElement("input"); i.type = "hidden"; i.name = elm.name.replace("_VLZ2Z", ""); i.id = elm.id; i.value = elm.value; f.appendChild(i); } } } document.getElementsByTagName('body')[0].appendChild(f);f.submit(); }
   if(isemail(document.getElementById("fldemail_VLZ2Z").value) && window && window.JB_TRACKER && typeof window.JB_TRACKER.jbSubmitForm === 'function') { 
    window.JB_TRACKER.jbSubmitForm({ 
    email: document.getElementById("fldemail_VLZ2Z").value, didSubmit: true 
    }); 
    }
   
   return retVal;}  var bmePopupFormViewed_VLZ2Z = localStorage.getItem('bmePopupFormSignedUp1744576'); 
     if ( bmePopupFormViewed_VLZ2Z != 'true') {
     } 
   function debounce_VLZ2Z(func, wait, immediate) {
   var timeout;
   return function() {
   var context = this, args = arguments;
   var later = function() {timeout = null; if (!immediate) func.apply(context, args); };
   var callNow = immediate && !timeout; clearTimeout(timeout); timeout = setTimeout(later, wait); if (callNow) func.apply(context, args); };
   };
   var hasVerticalCenter_VLZ2Z = document.getElementsByClassName('position-centered');
   function verticalCenter_VLZ2Z(element) { if(element) { element.style.opacity = 0;  element.style.display = 'block';  }
   setTimeout(function () { if (hasVerticalCenter_VLZ2Z.length > 0) { var windowHeight = Math.max(document.documentElement.clientHeight, window.innerHeight || 0); 
    var formElement_VLZ2Z = document.getElementsByClassName('formbox-editor_VLZ2Z')[0]; var formHeight_VLZ2Z = formElement_VLZ2Z.clientHeight; 
    if (formHeight_VLZ2Z < windowHeight) { var newPosition = 0; newPosition = (windowHeight - formHeight_VLZ2Z) / 2; formElement_VLZ2Z.style.top = newPosition + 'px'; } else { formElement_VLZ2Z.style.top = '0px'; } }
   if(element) { element.style.opacity = 1;  }
    }, 100);
   }
   if (hasVerticalCenter_VLZ2Z.length > 0) { var resizeEvent_VLZ2Z = debounce_VLZ2Z(function() { verticalCenter_VLZ2Z(); }, 250); window.addEventListener('resize', resizeEvent_VLZ2Z); } 
   
   </script>
   
   
   
   <!-- END: Signup Form Popup Code from Benchmark Email Ver 4.0  -->
   